# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.pytest_cache
.coverage
.coverage.*
.cache
htmlcov/
.tox/
.nox/
venv/
env/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
*.env

# IDEs
.vscode/
.idea/

# Uploaded files
uploads/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.sqlite3
